@font-face {
	font-family: "AUGUSTUS";
	src:url('font/AUGUSTUS.ttf');
}

body{
	margin-top: -50px;
	width: 100%;
	overflow-x: hidden;
	font-family: 'AUGUSTUS';
}


form{
	padding: 0px;
	margin-top: 0px;
	margin: 50px;
}

h1{
	margin-left: -100px;
	margin-right: -100px;
	font-family: 'AUGUSTUS';
	text-align: center;
	text-transform: uppercase;
	text-shadow:1px 1px 2px white;
	line-height: 200px;
	font-size: 5em;
	font-weight: 800;
	color:#003399;
}

h2 {
	font-size:2em;
	color: #3366CC;
	text-align: center;
}

p {
	margin-bottom: 20px;
}

.titres {
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-top: 10px;
}

.questions2{
	margin-left: 20px;
	margin-top: 50px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #3399FF;
}

.radioContainer{
	padding: 0 30px 0 5px;
	justify-content: space-between;
	display: flex;
}

input[type="radio"]{
	display: none;
}

label{
	margin-right: 20px;
	padding: 10px 20px;
	background-color: #3399FF;
}	

input[type="radio"]:checked+label{
	border: 2px solid white;
	border-radius: 45%;
	background-color: #3399FF;
}

#bloc1 {
	position: relative;
	display: inline-block;
	box-shadow: 1px 1px 4px #333;
}

#bloc1:after, #bloc1:before {
	content: " ";
	position: absolute;
	width: 50%;
	height: 100px;
	z-index: -10;
}

.curve:after {
	top: 8px;
	right: 3px;
	transform: rotate(5deg);
	box-shadow: -7px 6px 12px #333;
}

#bloc2 {
	width: 20%;
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc2:after, #bloc2:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: -10;
}

.laterals:before {
	top: 15px;
	left: 0px;
	height: 130px;
	border-radius: 12px / 65px;
	box-shadow: 0 0 20px #333;
}

#age {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 25px;
	padding-left: 10px;
	font-size: 1.2em;
	font-family: 'AUGUSTUS';
}

.bloc3 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

.bloc3:after, .bloc3:before {
	content: " ";
	position: absolute;
	width: 90%;
	height: 50px;
	z-index: -10;
}

.curve2:before {
	top: 55px;
	left: 5px;
	transform: rotate(-5deg);
	box-shadow: 7px 6px 15px #333;
}

.curve2:after {
	top: 55px;
	right: 5px;
	transform: rotate(5deg);
	box-shadow: -7px 6px 15px #333;
}

#bloc4 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc4:after, #bloc4:before {
	content: " ";
	position: absolute;
	width: 90%;
	height: 85px;
	z-index: -10;
}

.horizontal:before {
	top: 0px;
	left: 5%;
	height: 50px;
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #555;
}

.horizontal:after { 
	bottom: 0px;
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #565656;
}

#bloc5 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc5:after, #bloc5:before {
	content: " ";
	position: absolute;
	width: 10%;
	height: 85px;
	z-index: -10;
} 

.lateral2:before {
	top: 5px;
	left: 8px;
	box-shadow: -9px 3px 10px #555;
	transform: rotate(-5deg);
}

#bloc6 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc6:after, #bloc6:before {
	content: " ";
	position: absolute;
	width: 90%;
	height: 85px;
	z-index: -10;
}

#bloc7 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc7:after, #bloc7:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 80%;
	z-index: -10;
}

#bloc8 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc8:after, #bloc8:before {
	content: " ";
	position: absolute;
	width: 90%;
	height: 85px;
	z-index: -10;
}

#bloc9 {
	position: relative;
	box-shadow: 0px 1px 4px #333;
}

#bloc9:after, #bloc9:before {
	content: " ";
	position: absolute;
	width: 10%;
	height: 60%;
	top: 58px;
	z-index: -10;
}

