@font-face {
	font-family: "Roman";
	src:url('font/Roman.ttf');
}

body{
	margin-top: -50px;
	width: 100%;
	background-color: #E2E2E2;
	background-image: url('https://slack-imgs.com/?c=1&url=http%3A%2F%2Fwallpapercave.com%2Fwp%2F42fqIFl.jpg');
	font-family: "Source Sans Pro", sans-serif;
	overflow-x: hidden;
}
}

form{
	padding: 0px;
	margin-top: 0px;
	margin: 50px;
}

h1{
	margin-left: -100px;
	margin-right: -100px;
	font-family: 'Roman';
	text-align: center;
	text-transform: uppercase;
	text-shadow:1px 1px 2px white;
	line-height: 200px;
}

.titres {
	font-size: 25px;
	font-weight: bold;
}
.questions2{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.radioContainer{
	background-color: rgba(206, 171, 107, 0.5);
	border:2px inset #664113;
	border-radius:10px 50px 50px 10px;
	padding: 0 30px 0 5px;
	justify-content: space-between;
	display: flex;
}

input[type="radio"]{
	display: none;
}
label{
	margin-right: 20px;
	border: 2px outset black;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: rgba(206, 171, 107, 0.5);	

input[type="radio"]:checked+label{
	border: 2px inset black;
	background-color: rgba(206, 171, 107, 1);
}