@font-face {
	font-family: "AUGUSTUS";
	src:url('font/AUGUSTUS.ttf');
}

body{
	margin-top: -50px;
	width: 100%;
	overflow-x: hidden;
	font-family: 'AUGUSTUS';
}


form{
	padding: 0px;
	margin-top: 0px;
	margin: 50px;
}

h1{
	margin-left: -100px;
	margin-right: -100px;
	font-family: 'AUGUSTUS';
	text-align: center;
	text-transform: uppercase;
	text-shadow:1px 1px 2px white;
	line-height: 200px;
	font-size: 5em;
	font-weight: 800;
	color:#003399;
}

h2 {
	font-size:2em;
	color: #3366CC;
	text-align: center;
}

.titres {
	font-size: 25px;
	font-weight: bold;
	color: #3399FF;
}
.questions2{
	margin-left: 20px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	color: white;
}

.radioContainer{
	padding: 0 30px 0 5px;
	justify-content: space-between;
	display: flex;
}

input[type="radio"]{
	display: none;
}

label{
	margin-right: 20px;
	border: 2px #0f2d4c outset;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #3399FF;
}	

input[type="radio"]:checked+label{
	border: 2px inset #0f2d4c;
	background-color: #003399;
}